[Desktop Entry]
Type=Application
Version=1.5
Name=Agile Rgb
Comment=Control RGB lighting
Icon=org.openrgb.OpenRGB
StartupWMClass=agilergb
TryExec=agilergb
Exec=agilergb
Terminal=false
Categories=Utility;
